.modalBox {
  display: flex;
  justify-content: center;
}

.modalButton {
  height: 50%;
  margin: auto 5px;
  color: gray;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  padding: 20px;
  background-color: white;
}
