.tableRow {
  box-shadow: none;
}

.tableRowHover {
  box-shadow: inset 0 0 0 2px black;
}

.paper {
  width: 100%;
  overflow: hidden;
}

.tableCell {
  text-align: center;
}

.icon {
  position: fixed;
}
